<header class="@@el header">
  <div class="container container--size-md header__container">
    <div class="header__inner">
      <div class="header__aside">
        <a href="/" class="header__logo">
          <svg class="u-icon">
            <use xlink:href="images/icons/icons.svg#logo"></use>
          </svg>
        </a>
        <div class="header__agency-wrapper">
          <p class="header__agency">Агентство недвижимости в Дубае</p>
        </div>
        <div class="u-sc header__social">
          <ul class="u-sc__list">
            <li class="u-sc__item">
              <a href="#" class="u-sc__link">
                <svg class="u-icon u-sc__icon">
                  <use xlink:href="images/icons/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="u-sc__item">
              <a href="#" class="u-sc__link">
                <svg class="u-icon u-sc__icon">
                  <use xlink:href="images/icons/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="u-sc__item">
              <a href="#" class="u-sc__link">
                <svg class="u-icon u-sc__icon">
                  <use xlink:href="images/icons/icons.svg#telegram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="header__dropdown">
        <picture class="header__dropdown-bg">
          <img src="images/header-dropdown-bg.jpg">
        </picture>
        <button type="button" class="js-header-toggle header__dropdown-close">
          <svg class="u-icon">
            <use xlink:href="images/icons/icons.svg#close"></use>
          </svg>
        </button>
        <div class="container header__dropdown-container">
          <nav class="header__nav" role="navigation">
            <ul class="header__nav-list">
              <li class="header__nav-item">
                <a href="#" class="header__nav-link">
                  О компании
                  <svg class="u-icon">
                    <use xlink:href="images/icons/icons.svg#arrow-type-3"></use>
                  </svg>
                </a>
              </li>
              <li class="header__nav-item">
                <a href="#" class="header__nav-link">
                  Объекты
                  <svg class="u-icon">
                    <use xlink:href="images/icons/icons.svg#arrow-type-3"></use>
                  </svg>
                </a>
              </li>
              <li class="header__nav-item">
                <a href="#" class="header__nav-link">
                  Блог
                  <svg class="u-icon">
                    <use xlink:href="images/icons/icons.svg#arrow-type-3"></use>
                  </svg>
                </a>
              </li>
              <li class="header__nav-item">
                <a href="#" class="header__nav-link">
                  Команда
                  <svg class="u-icon">
                    <use xlink:href="images/icons/icons.svg#arrow-type-3"></use>
                  </svg>
                </a>
              </li>
              <li class="header__nav-item">
                <a href="#" class="header__nav-link">
                  Контакты
                  <svg class="u-icon">
                    <use xlink:href="images/icons/icons.svg#arrow-type-3"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </nav>
          <div class="header__footer">
            <div class="header__footer-top">
              <a href="/" class="header__footer-logo">
                <svg class="u-icon">
                  <use xlink:href="images/icons/icons.svg#logo"></use>
                </svg>
              </a>
              <p class="header__footer-agency">Агентство по недвижимости в&nbsp;Дубае</p>
              <a href="/" class="header__footer-btn-arrow">
                <svg class="u-icon">
                  <use xlink:href="images/icons/icons.svg#arrow-type-2"></use>
                </svg>
              </a>
            </div>
            <div class="header__footer-contacts">
              <div class="contacts-item header__footer-contacts-item">
                <div class="contacts-item__inner">
                  <div class="contacts-item__media">
                    <svg class="u-icon contacts-item__icon">
                      <use xlink:href="images/icons/icons.svg#address"></use>
                    </svg>
                  </div>
                  <div class="contacts-item__content">
                    <div class="contacts-item__text">г. Москва</div>
                  </div>
                </div>
              </div>
              <div class="contacts-item header__footer-contacts-item">
                <div class="contacts-item__inner">
                  <div class="contacts-item__media">
                    <svg class="u-icon contacts-item__icon">
                      <use xlink:href="images/icons/icons.svg#clock"></use>
                    </svg>
                  </div>
                  <div class="contacts-item__content">
                    <div class="contacts-item__text">Пн.-Пт.: 9:00 - 19:00, Сб.: 10:00 - 17:00</div>
                  </div>
                </div>
              </div>
              <div class="contacts-item header__footer-contacts-item">
                <div class="contacts-item__inner">
                  <div class="contacts-item__media">
                    <svg class="u-icon contacts-item__icon">
                      <use xlink:href="images/icons/icons.svg#email"></use>
                    </svg>
                  </div>
                  <div class="contacts-item__content">
                    <div class="contacts-item__text">
                      <a href="mailto:info@gmail.com">info@gmail.com</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="contacts-item header__footer-contacts-item">
                <div class="contacts-item__inner">
                  <div class="contacts-item__media">
                    <svg class="u-icon contacts-item__icon">
                      <use xlink:href="images/icons/icons.svg#phone-outline"></use>
                    </svg>
                  </div>
                  <div class="contacts-item__content">
                    <div class="contacts-item__text">
                      <a href="tel:+79999999999">+7 999 999 99 99</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="js-header-toggle header__toggle">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="header__phone">
        <a href="tel:+380979877888" class="u-phone" target="_blank">+38 (097) 987 78 88</a>
      </div>
      <a href="#" class="header__call">Заказать звонок</a>
      <div class="header__call-btn">
        <button type="button" class="call-btn call-btn--size-md call-btn--theme-white-light">
          <svg class="u-icon call-btn__icon">
            <use xlink:href="images/icons/icons.svg#phone"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>