$siteResolution: 1px;
$mainFont: 'Open Sans';
$accentFont: 'Courier New';
$mainWeight: 400;
$lineHeightMedium: 1.4;
$lineHeightTitle: 1.1;
$lineHeightXs: 1.16666666667;
$lineHeightDefault: $lineHeightMedium;

$containerWidth: 1620rem;

$gap: 20rem;
$gapFluid: 40rem;

$whiteColor: #ffffff;
$blackColor: #000000;
$beigeColor: #F6F0E4;
$lightBlueGrayColor: #BDCCD4;
$tealGrayColor: #6D8F8E;
$oliveGrayColor: #637369;
$darkForestGreenColor: #3C4B46;
$orangeColor: #FFAC30;

$fontFamily: $mainFont, Arial, sans-serif;
$fontCourierNew: $accentFont, Courier, monospace, sans-serif;
$fontColor: $beigeColor;
$fontWeight: $mainWeight;
$backgroundColor: $oliveGrayColor;

$transition: all .4s 0ms;

$xl: 1340px;
$xl-mf: $xl + 1;

$lg: 1199px;
$lg-mf: $lg + 1;

$md: 991px;
$md-mf: $md + 1;

$sm: 767px;
$sm-mf: $sm + 1;

$xs: 576px;
$xs-mf: $xs + 1;

:root {
  --fs-default: 16rem;
  --fs-1: 70rem;
  --fs-2: 32rem;
  --fs-3: 24rem;
  --fs-4: 16rem;
  --fs-5: 16rem;
  --fs-6: 16rem;
  --fs-7: 14rem;
  --fs-8: 12rem;
  --gap: 10rem;
  --gap-: -10rem;
  --gap-fluid: 20rem;
  --gap-fluid-: -20rem;
  @media (max-width: $lg) {
  }
}